
@import '~@angular/material/prebuilt-themes/indigo-pink.css';

.form-container {
	margin-top: 5%;
	margin-left: 25%;

	width: 40%;
	padding: 20px;
	position: relative;
}

.full-width {
    width: 100%;
}
